{% extends "base.html" %}
{% load i18n bulma_tags %}

{% block content %}

 <div class="columns is-desktop">
    <div class="column is-6 is-offset-3">
        
{% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
  {% endif %}



<form method="post" action=".">
  {% csrf_token %} 
  {{ form|bulma }}
<div class="field">
  <input type="submit" value="{% trans 'Log in' %}"  class="button"/>
  <input type="hidden" name="next" value="{{ next }}" />

</div>
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

    </div>
  </div>

{% endblock %}

