{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex nofollow" />
  <title>
    NekoAnime Vip
</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
</head>
<body>
  <nav class="nav has-shadow" id="top">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="/">
          <img src="https://nekoanimedd.com/wp-content/uploads/2020/06/logo2-r1.png" alt="Description">
        <small></small>
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
 {% if user.is_authenticated %}
        <span class="nav-item">
        <a href="{% url 'home' %}">
            {% trans "Logged in" %}: {{ user.username }} 
        </a>
</span>
        <span class="nav-item">
                    <a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> 
        </span>
        <span class="nav-item">
            <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
        </span>
        <span class="nav-item">
            <a href="{% url 'products' %}">{% trans "Codes" %}</a>
        </span>

{% endif %}

 {% if not user.is_authenticated %}
        <span class="nav-item">
          <a class="button" href="{% url 'auth_login' %}">
            Log in
          </a>
          <a class="button is-info" href="{% url 'registration_register'%}">
            Sign up
          </a>
        </span>
{% endif %}

        <span class="nav-item">
        
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
        </span>

      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container content">

{% if messages %}

<div class="notification is-warning">
<ul class="messages pt-0 mt-0">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

        {% block content  %} 

        {% if user.is_authenticated %}
                 <p class="has-text-centered">
                {% trans "Logged" %} <a href="{% url 'home'%}" class="button "> {% trans "Ir al dashboard" %}</a>
                </p>
        {% else %} 
            {% include 'public.html' %}
        {% endif %}
        {% endblock %}
    </div>
  </section>
</body>
</html>
