{% extends "base.html"%}
{% load  i18n bulma_tags %}
{% block content %}
<div class="column is-8 is-offset-2">
<div class="card article" style='background-color: #faf6f2f0;'>
<div class="card-content">

<p class="subtitle">
    Generador de enlaces
</p>
<br>


<form action="" method="POST">
 {% csrf_token %}

<div class="field is-grouped">
  <p class="control is-expanded">
      <input class="input is-large" type="text" placeholder="{{url|default:''}}" value="{{url|default:''}}"  name="url">
  </p>
  <p class="control">
    <button type="submit" class="button is-primary is-large">
    Obtener
    </button>
  </p>
</div>
<div>
    {% with neko_url='https://nekoanimedd.com/completa/bleach' %}
    {% trans "Examples" %}: <a href="?url={{neko_url}}">{{neko_url}}</a>
    {% endwith %}

</div>
<hr>
       <div class="box">
            Búsquedas de hoy : {{searches.count}}/ {{LIMIT}}
            <br>
            <progress class="progress" value="{{percent|floatformat}}" max="100">{{percent}}%</progress>
        </div>


<div class="columns">

    <div class="column is-two-thirds ">

        {% if not can_search %}
            <div class="notification is-danger">
                Limite de búsquedas excedida.
            </div>
        {% endif %}
                {% if post_id and title and image %}
                <input type="hidden" value="{{post_id}}"  name="post_id"/>
                     <div class="columns">
                        <div class="column">
                            <p>{{title}}</p>
                            <br>
                            
                            {% if not res %}
                               <button type="submit" name="dd" class="button">  {% trans "Fetch episodes" %}</button>
                           {% endif %}
                        </div>
                        <div class="column">
                                <img src="{{image}}" alt="" class="is-pulled-right">
                        </div>
                    </div>

                {% endif %}
 
    </div>
    <div class="column">
     </div>
</div>

       {% if   res %}
        <div class="columns">
            <div class="column">
            
         <p class="subtitle">
        Enlaces:
        </p>

            </div>
            <div class="column">
        <button class="button is-success"  data-clipboard-target="#res" type="button">
            {% trans "Cut to clipboard" %}
        </button>

            
            </div>
        </div>
               
<pre id="res">{%spaceless%}

{% for  r in res|dictsort:'url'  %}
# {{r.guessit}}
{{r.url}}
{% endfor %}{%endspaceless%}
                </pre>

                {% endif %}



</form>

</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script>
new Clipboard('.button');
</script>
{% endblock %}
