{% load i18n %}

    <div class="columns pt-xxl mt-xxl ">
        <div class="column has-text-centered is-half is-offset-one-quarter">
 <p><strong>{% trans "Bienvenido a la plataforma privada para colaboradores de NekoAnimeDD. Ingresa con tu usuario o contraseña o crea una cuenta."%} </strong></p><br>

<span class="nav-item">
    <a class="button" href="{% url 'auth_login' %}">
            {% trans "Log in" %}
          </a>
          <a class="button is-info" href="{% url 'registration_register'%}">
              {% trans "Register"%}
          </a>
        </span>       
        </div>
    </div>


<div class="columns clearfix">
    <div class="column">
        <div class="hero is-primary">
            <div class="hero-body  has-text-centered">
            
                Accesso a mas de <b>1200 ANIMES</b> <br/>
                <a href="https://i.imgur.com/3c7cykw.png" target="_blank">
                 <img src="https://i.imgur.com/3c7cykw.png">
                </a>
                 <img src="https://orig00.deviantart.net/98be/f/2015/283/3/7/paypal_donation_button_by_mentalcrash-d9ckleu.png" style="height:220px;">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="hero is-danger">
            <div class="hero-body  has-text-centered">
                Obten todos los capitulos de golpe <br>

                <a href="https://i.imgur.com/gOLImq3.png" target="_blank">
                <img src="https://i.imgur.com/gOLImq3m.png">
                </a>
            </div>
        </div>
    </div>
</div>


