{% extends "base.html" %}
{% load i18n  %}
{% block content %}




<div class="jumbotron  ">
    <h1> {% trans "Hello" %}! {{request.user.username}}</h1>
    <p>
        Gracias por registrarse en nuevas plataforma privada, Compra un código usando paypal!!!
    </p>
<div class="columns">

    <div class="column">
            <h3> Pago recurrente mes x mes </h3>    
            {{paypal.render }}
    
    </div>
    <div class="column">
        <h3>Pago 1 solo mes</h3>
            {{paypal_once.render}}
        
    </div>
</div>

<p>
    <small> 
        {% blocktrans %}
foo bar
        {% endblocktrans %} 
    </small>
</p>


<p class="block-center">

    

    <br>
<!--a class="rocketr-embed" data-product="42cc322201e3" data-color="#81c868" data-text="Buy Now" data-width="200px"  href="https://rocketr.net/buy/42cc322201e3">Buy Now</a><script type="text/javascript" src="https://rocketr.net/assets/RocketrButton.js"></script-->

</p>
    <span>Enter code:</span>
    <small>Si tienes un código ingresalo! o paga usando paypal para activar </small>
    <form action="" method="post">
        {% csrf_token %}
      <div class="input-group input-group-lg">    
                <input type="text" name="code" class="form-control" placeholder="CODE" aria-describedby="sizing-addon1">
                      <span class="input-group-btn">
                <button class="btn btn-success" type="submit"> {% trans "SEND" %}</button>
                </span>
    </div>
    </form>
{% if code_active %}
        <h3> {% trans "Actived Codes" %} </h3>
        <url>{% for a in code_active %}
        <li> {{a.code.code}} - {% trans "expired at"%} {{a.expired}} - {{a.code.type}}</li>
            {% endfor %}
        </url>
{% endif %}




</div>

{% endblock  %}
